# https://EditorConfig.org

root = true

[*.cpp]
indent_style = space
indent_size = 2

[*.hs]
indent_style = space
indent_size = 2

[*.rb]
indent_style = space
indent_size = 2

[*.ts]
indent_style = space
indent_size = 2
